/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-image: url("../img/back.jpeg");
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*** non-installed fonts ***/
/* Fantasque Sans Mono : https://github.com/belluzj/fantasque-sans */
@font-face {
    font-family: "Fantasque Sans Mono";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/fantasque-sans-mono/FantasqueSansMono_Regular.otf");
    }
    @font-face {
    font-family: "Fantasque Sans Mono";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/fantasque-sans-mono/FantasqueSansMono_RegItalic.otf");
}
@font-face {
    font-family: "Fantasque Sans Mono";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/fantasque-sans-mono/FantasqueSansMono_Bold.otf");
}
/***************************/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  font-size:inherit;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

ul.categories > li {
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 53em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  background-color: #f5f0c0;
  padding: 15px;
}
.site h1, .site h2{
    font-size:120%;
}

.site h3 {
    font-size:110%;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post {
    padding: 2em;
    padding-top: 0em;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  font-family: "Fantasque Sans Mono", monospace;
  border: 1px solid #ddd;
  background-color: #f6f4f4;
  padding: 0 .2em;
}

div.highlight>pre {
    background-color:#111;
}

.post pre code {
  border: none;
  padding-left:0;
  background-color:#111;
}

.post img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:700px;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

div.footinfo {
    display:block;
    overflow:hidden;
    clear:both;
}

div.footinfo div.cat{
    color : #555;
    float:right;
}

div.footinfo a{
    text-decoration: none;
}
div.footinfo a { color: #557; }
div.footinfo a:hover   { color: #222; }
div.footinfo a:visited { color: #737; }

div.footinfo p#previous{
    float:left;
}
div.footinfo p#next{
    float:right;
    text-align:right;
}

div.license {
    clear:both;
}

div.license a {
    text-decoration: none;
}

