/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: #fff url("../img/rose_thorn_bw.jpg") 0 0 no-repeat fixed;
  background-position:right top;
  background-size:cover;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*** non-installed fonts ***/
/* Fantasque Sans Mono : https://github.com/belluzj/fantasque-sans */
@font-face {
    font-family: "Fantasque Sans Mono";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/fantasque-sans-mono/FantasqueSansMono_Regular.otf");
    }
    @font-face {
    font-family: "Fantasque Sans Mono";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/fantasque-sans-mono/FantasqueSansMono_RegItalic.otf");
}
@font-face {
    font-family: "Fantasque Sans Mono";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/fantasque-sans-mono/FantasqueSansMono_Bold.otf");
}
/***************************/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  font-size:inherit;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

ul.categories > li {
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 58em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  background-color: rgba(255,255,255,0.8);
  padding: 15px;
  box-shadow: 0px 0px 1px 1px rgba(100,100,100,1.3);
}

.site h1, .site h2{
    font-size:120%;
}

.site h3 {
    font-size:110%;
}

header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
    color: #a00;
}

.title a:hover {
  color: #000;
}

header a.extra {
  color: #aaa;
  margin-left: 1em;
}

header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

footer.mainfooter {
  font-size: 80%;
  color: #666;
  border-top: 1px solid #555;
  margin-top: 2em;
  padding-top:1em;
  display:block;
  overflow: hidden;
}

footer.mainfooter .contact {
  float: left;
  margin-right: 3em;
}

footer.mainfooter .contact a {
  color: #8085C1;
}

footer.mainfooter .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

footer.mainfooter .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

article.post {
    padding: 2em;
    padding-top: 0em;
    line-height: 1.6;
}

article.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

article.post ul, article.post ol {
  margin-left: 1.35em;
}

article.post code {
  font-family: "Fantasque Sans Mono", monospace;
  border: 1px solid #ddd;
  background-color: #f6f4f4;
  padding: 0 .2em;
}

div.highlight>pre {
    background-color:#111;
    border:1px solid #ddd;
    overflow:auto;
    border-radius 3px;
}

article.post h2, article.post h3{
    margin-top:0.5em;
    margin-bottom:0.5em;
    margin-left:-1em;
    padding:0.1em;
    padding-left:0.5em;
    background-color: rgba(256,256,256,0.4);
}


header.postheader{
    margin-left:-1.5em;
    margin-bottom:1em;
}


article.post h1 {
    font-size:120%;
}

article.post h2 {
    font-size:110%;
}

article.post h3{
    font-size:105%;
}

article.post time {
  color: #999;
}


article.post pre code {
  border: none;
  padding-left:0;
  background-color:#111;
}

article.post img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:700px;
}

/* terminal */
article.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

article.post pre.terminal code {
  background-color: #333;
}

footer.postfooter {
    display:block;
    overflow:hidden;
    clear:both;
}

footer.postfooter div.cat{
    color : #555;
    float:right;
}

footer.postfooter a{
    text-decoration: none;
}
footer.postfooter a { color: #557; }
footer.postfooter a:hover   { color: #222; }
footer.postfooter a:visited { color: #737; }

footer.postfooter p#previous{
    float:left;
}
footer.postfooter p#next{
    float:right;
    text-align:right;
}

div.license {
    clear:both;
}

div.license a {
    text-decoration: none;
}

blockquote {
    background: #eeeeee;
    border-left: 3px solid #ccc;
    margin: 0.1em 20px;
    padding: 0.1em 0.3em;
}

div.footnotes {
    border-top: 1px solid black;
    font-size:90%;
    margin-top:3em;
}
