---
layout: default
---
<article class="post">
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

{{ content }}
</article>
<footer class="postfooter">
  <div class="cat">
    category : 
    {% for cat in page.categories %}
    <a href="{{site.baseurl}}/categories.html#{{cat}}">{{cat}}</a>
    {% endfor %}
  </div><br />
  <div class="neighbour">
    {% if {{page.previous.url}} %}
    <p id="previous"><a href="{{site.baseurl}}{{ page.previous.url }}">« previous post</a></p>
    {% endif %}
    {% if {{page.next.url}} %}
    <p id="next"><a href="{{site.baseurl}}{{ page.next.url }}">next post »</a></p>
    {% endif %}
  </div><br />
</footer>
