---
layout: default
---
<article class="post">
  <header class="postheader">
    <h1>{{ page.title }}</h1>
    <time datetime="{{page.date|date: '%Y-%m-%d'}}">{{ page.date | date_to_string }}</time>
  </header>
  {{ content }}
</article>
<footer class="postfooter">
  <div class="cat">
    category : 
    {% for cat in page.categories %}
    <a href="{{site.baseurl}}/categories.html#{{cat}}">{{cat}}</a>
    {% endfor %}
  </div><br />
  <div class="neighbour">
    {% if {{page.previous.url}} %}
    <p id="previous"><a href="{{site.baseurl}}{{ page.previous.url }}">« previous post</a></p>
    {% endif %}
    {% if {{page.next.url}} %}
    <p id="next"><a href="{{site.baseurl}}{{ page.next.url }}">next post »</a></p>
    {% endif %}
  </div><br />
</footer>
